{% extends './base.html' %}

{% block content %}

<div class="wrap-note">
    <div class="note">         
        <div class="note-list">
            <ul>
                {% for obj in pages %}
                    <li>
                        <a href="{% url 'page-detail' obj.id %}">
                            <div class="date">
                                <span>{{obj.dt_created}}</span>
                            </div>
                            <h2>{{obj.title}}</h2>
                            <div class="score">
                                <p>감정점수</p>
                                <span>{{obj.score}}점</span>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}