{% extends './base.html' %}

{% block content %}
<h2>일기 목록 페이지</h2>

<ul>
    {% for page in pages %}
    <li>
        <div class="date">
            <span>
                {{page.dt_created|date:'d'}}
            </span>
            <p>
                {{page.dt_created|date:'M'}}
            </p>
        </div>
        <h2>
           {{page.title}}
        </h2>
        <div class="score">
            <p>감정점수</p>
            <span>
                {{page.score}}점
            </span>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}