doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 엘리스 백엔드 클론스터디
        link(rel="stylesheet", href="/public/js/style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet")

    body 
        div.container
            div.login-box
                div.login-title Welcome!
                    p Please let us know your information:) 
                div.login-form
                    div#welcome
                        form
                            div.form-group
                                label.form-label(for="room") Room name 
                                input#roomName.form-control(placeholder="", required, type="text")
                            div.form-group
                                label.form-label(for="username") User name
                                input#userName.form-control(placeholder="", required, type="text")
                            div.enterbtn
                                button.btn-style Enter Room

        div#call
            div#myStream
                video#myFace(autoplay, playsinline, width="400", height="400")
                div
                    button#mic
                        img(src="/public/assets/unmute.png", alt="microphone")
                    button#cam 
                        img(src="/public/assets/camon.png", alt="camera")
                    select#cameras
            div#peerStream
                
    

script(src="/socket.io/socket.io.js")
script(src="/public/js/app.js") 