doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 엘리스 백엔드 클론스터디
        link(rel="stylesheet", href="/public/js/style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet")
    style 
        inclue style.css
    body 
        div.container
            div.login-box
                div.login-title Welcome!
                    p Please let us know your information:) 
                div.login-form
                    div#welcome
                        form
                            div.form-group
                                label.form-label(for="room") Room name 
                                input#roomName.form-control(placeholder="", required, type="text")
                            div.form-group
                                label.form-label(for="username") User name
                                input#userName.form-control(placeholder="", required, type="text")
                            div.enterbtn
                                button.btn-style Enter Room
                //div#header
                //    img#banner(src="/public/assets/banner.png", alt="banner")
                //    h2 온라인 화상 회의실
     
                    div#welcome 
                        div#form
                            label(for="room") Room name 
                            input#roomName(placeholder="", required, type="text")
                            label(for="username") User name
                            input#userName(placeholder="", required, type="text")
                            button Enter Room
        div#call
            div#myStream
                video#myFace(autoplay, playsinline, width="400", height="400")
                div
                    button#mic
                        img(src="/public/assets/unmute.png", alt="microphone")
                    button#cam 
                        img(src="/public/assets/camon.png", alt="camera")
                    select#cameras

script(src="/socket.io/socket.io.js") //-프론트엔드에 소켓추가
script(src="/public/js/app.js") 