{% extends './base.html' %}
{% load static %}

{% block post_container %}
    <h1>포스트 리스트</h1>
    <hr>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">글 번호</th>
            <th scope="col">제목</th>
            <th scope="col">생성일</th>
            <th scope="col">수정일</th>
          </tr>
        </thead>
        <tbody>
        {% for post in posts%}
          <tr>
            <th scope="row">{{post.id}}</th>
            <td><a href={% url 'post-detail' post.id %}>{{post.title}}</a></td>
            <td>{{post.dt_created}}</td>
            <td>{{post.dt_modified}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% endblock post_container %}