#header{
    display:flex;
    height:60px;
    line-height:60px;
    align-items: center;
}
#header #banner{
    width:120px;
    height:60px;
    margin-right: 1rem;
}
#header h2{
    color:pu;
    align-items: center;
}



#myStream{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:50vw;
}
#myStream button#mic img{
    width:25px;
    height:30px;
}
#myStream button#cam img{
    width:25px;
    height:30px;
}



#myFace{
    border:solid  grey 1px;
}